.scholofind__about {
  display: flex;
  flex-direction: column;
  padding-top: 10rem;
}
.scholofind__about-heading {
  display: flex;
  flex-direction: row;
}
.scholofind__about-heading h1 {
  position: relative;
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 80px;

  padding-left: 4rem;
  line-height: 99px;
  color: #353535;
}
.scholofind__about-heading span {
  clear: both;
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  font-size: 288px;
  left: -76px;
  color: rgba(11, 79, 255, 0.1);
}
.scholofind__about-content {
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-top: 1rem;
}
.scholofind__about-content1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 10rem;
}
.scholofind__about-content1 p {
  font-family: var(--font-sub);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #353535;
  padding-right: 3rem;
}
.scholofind__about-content1 img {
  width: 269.96px;
  height: 317px;
  z-index: 10;
}
.scholofind__about-content2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.scholofind__about-content2 p {
  font-family: var(--font-sub);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #353535;
  padding-left: 3rem;
}
.scholofind__about-content2 img {
  width: 338.92px;
  height: 304.79px;
}
@media screen and (max-width: 1200px) {
  .scholofind__about-heading span {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .scholofind__about-content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .scholofind__about-content1 img {
    margin-top: 1rem;
  }
  .scholofind__about-content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  .scholofind__about-content2 img {
    margin-top: 1rem;
  }
  .scholofind__about-content2 p {
    padding: 0;
  }
  .scholofind__about-content1 p {
    padding: 0;
  }
  .scholofind__about-heading h1 {
    padding-left: 2rem;
  }
  .scholofind__about-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (max-width: 550px) {
  .scholofind__about-heading h1 {
    font-size: 64px;
  }
  .scholofind__about-content1 p,
  .scholofind__about-content2 p {
    font-size: 14px;
    line-height: 21px;
  }
  .scholofind__about-content {
    margin-right: 0;
  }
}
@media screen and (max-width: 400px) {
  .scholofind__about-heading h1 {
    font-size: 48px;
  }
  .scholofind__about-content1 img {
    height: 234.85px;
    width: 200px;
  }
  .scholofind__about-content2 img {
    height: 224.824px;
    width: 250px;
  }
}