.scholofind__header {
  display: flex;
  flex-direction: row;
  padding-top: 10rem;
  padding-left: 4rem;
  align-items: center;
}
.scholofind__header-content {
  display: flex;
  flex-direction: column;
}
.scholofind__header-content h1 {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 79px;
  text-transform: capitalize;
  color: #353535;
}
.scholofind__header-content span {
  color: var(--color-primary);
}
.scholofind__header-content p {
  font-family: var(--font-sub);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #353535;
  margin-top: 0.5rem;
}
.scholofind__header-content__button {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  margin-top: 1rem;
}
.scholofind__header-content__button button {
  font-family: var(--font-sub);
  font-size: 16px;
  padding: 0.5rem 1.5rem;
}
.header-content__button-register {
  border-radius: 20px;
  background: var(--color-primary);
  border: 2px solid var(--color-primary);
  color: white;

  cursor: pointer;
}
.header-content__button-know {
  border-radius: 20px;
  background: white;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);

  cursor: pointer;
  margin-left: 1rem;
}
.scholofind__header-image img {
  width: 735px;
  height: 500px;
}
.header-content__button-register:hover {
  background: #467bff;
  border: 2px solid #467bff;
}
.header-content__button-know:hover {
  background: var(--color-sub);
  border: 2px solid #467bff;
}
@media screen and (max-width: 1207px) {
  .scholofind__header {
    display: flex;
    flex-direction: column;
    padding-right: 4rem;
    align-items: center;

    text-align: center;
  }
  .scholofind__header-content__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  .scholofind__header-image {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 890px) {
  .scholofind__header {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .scholofind__header-content h1 {
    font-size: 48px;
    line-height: 59.25px;
  }
  .scholofind__header-content p {
    font-size: 14px;
    line-height: 21px;
  }
  .scholofind__header-content__button button {
    font-size: 14;
  }
  .scholofind__header-image img {
    width: 440.8px;
    height: 300px;
  }
}
@media screen and (max-width: 450px) {
  .scholofind__header-content h1 {
    font-size: 40px;
    line-height: 49.37px;
  }
  .scholofind__header-content p {
    font-size: 13px;
    line-height: 19.5px;
  }
  .scholofind__header-content__button button {
    font-size: 13px;
  }
  .scholofind__header-image img {
    width: 411.38px;
    height: 280px;
  }
}
