@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,600;0,700;1,200;1,500;1,600;1,700&family=Leckerli+One&display=swap');
@font-face {
  font-family: "Gilroy-Bold";
  src: local("Gilroy-Bold"), url("./assets/fonts/Gilroy-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Gilroy-Regular";
  src: local("Gilroy-Regular"),
    url("./assets/fonts/Gilroy-Regular.ttf") format("ttf");
}

:root {
    --font-sub: "Poppins", sans-serif;
    --font-main: "Gilroy-Bold", "Tahoma";
    --color-primary: #0B4FFF;
    --color-sub: #dfe7ff;
    --color-secondary: #FFC727;
}