.scholofind__programs {
  display: flex;
  flex-direction: column;
  padding-top: 10rem;
}
.scholofind__programs-heading {
  display: flex;
  flex-direction: row;
}
.scholofind__programs-heading h1 {
  position: relative;
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 80px;

  padding-left: 4rem;
  line-height: 99px;
  color: #353535;
}
.scholofind__programs-heading span {
  clear: both;
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  font-size: 288px;
  left: -76px;
  color: rgba(11, 79, 255, 0.1);
}